<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://epam-contenthub-linkedinconnector.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/508a56df-c9ed-4e65-a816-140629b0e6ba/resourceGroups/nrf-contenthub-demo/providers/Microsoft.Web/sites/EPAM-ContentHub-LinkedinConnector</ResourceId>
    <UserName>$EPAM-ContentHub-LinkedinConnector</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://epam-contenthub-linkedinconnector.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>